/* Fenix Interace Common Style */
/* Produced By Fenix Team and Mentaltoy 2014 All rights riserved */
/* Fenix UI  DSD Editor  CSS - Mixins */
/* CSS TRANSFORMS */
/* CSS TRANSITION */
/* 3D flow */
/* Blurred */
/* Color Mixins */
/* Animations */
/* Fenix UI  DSD Editor  CSS - Colors */
/* Fenix Colors */
/* Specials */
/* Fenix Typography */
body {
  color: #666666;
  font: normal normal 300 14px/normal "Roboto Condensed"; }

a {
  color: #005295; }

.navbar-default .navbar-nav > li > a {
  color: #666666; }

.dropdown-menu > li > a {
  font-weight: 300;
  color: #666666; }

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
  font-family: Roboto;
  font-weight: 700;
  color: #005295;
  text-transform: uppercase;
  font-size: 12px; }

h1, h2, h3, h4 {
  font-family: Roboto;
  font-weight: 700;
  color: #005295;
  text-transform: uppercase;
  font-size: 12px; }

h1 {
  font-size: 32px; }

h2 {
  font-size: 26px; }

h3 {
  font-size: 20px; }

h4 {
  font-family: "Roboto Condensed"; }

/*  FENIX COMMONS */
body {
  background-color: #f8f8f8; }

/* Reset Jqwidget content font */
.jqx-widget, .jqx-widget-content, .jqx-fill-state-normal {
  font: normal normal 300 14px/normal "Roboto Condensed"; }

.fx-validation {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

.fx-red-cell {
  background-color: orangered;
  color: white; }

.obj-box, .obj-box-radius10, .obj-box-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: white;
  border-color: #D8D8D8;
  border-image: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px 1px 2px;
  margin: 10px 0 20px;
  padding: 20px;
  width: auto; }

.obj-box-radius10 {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }

.obj-box-title {
  padding-top: 5px; }
  .obj-box-title h4 {
    text-transform: uppercase;
    color: #005295;
    font-size: 14px;
    font-weight: 300; }

.title-ico {
  height: 30px;
  width: 30px;
  margin: -4px 10px 0 0; }

.fx-bullet-number {
  display: block;
  float: left;
  font-size: 15px;
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  font-style: normal;
  background-color: #005295;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  color: white;
  margin-right: 10px; }

/* Iframe Style */
.iframe-container {
  position: relative;
  padding-bottom: 40.67%;
  padding-top: 35px;
  height: 0;
  overflow: hidden; }

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.iframe-container-poverty iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.iframe-container-poverty {
  position: relative;
  padding-bottom: 240%;
  padding-top: 35px;
  height: 0;
  overflow: hidden; }

/* Iframe showcase */
.iframe-container-trade {
  position: relative;
  padding-bottom: 310%;
  padding-top: 35px;
  height: 0;
  overflow: hidden; }

.iframe-container-trade iframe, .iframe-container-poverty iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.iframe-container-poverty {
  position: relative;
  padding-bottom: 240%;
  padding-top: 35px;
  height: 0;
  overflow: hidden; }
