/* Fenix Icons */

.fx-icon{
  height: 15px;
  width: 15px;
  display: inline-block;
  background: url("#{$fx-ui-common}/css/img/fenix-catalog-sprite-small.svg") 150px 30px no-repeat;
}



.fx-icon-close{
  background-position:  0 -15px;
}
