/* Fenix - Buttons Component */

/** avoid dotted lines when clicking on button**/
input[type="button"] {
  outline:none;
}

button:focus {
  outline:0;
  outline:none;
}

button:active {
  outline:0;
  outline:none;
}

.btn:focus, .btn:active, .btn:active:focus{
  outline: none;
}

input[type="button"]::-moz-focus-inner{
  border:0;
}


.btn-round{
  padding: 3px;
  height: 24px;
  @include fx-border-radius(50%);
}