/* Fenix - Widgets Component */

.fx-widget{
  background-color: white;
  height: 100%;
  padding: 5px 10px 10px 10px;
  @include fx-border-radius($fx-border-radius);
  border: 1px solid $fenix-hr;
  border-bottom: 3px solid  $fenix-hr;
  position: relative;

  .nav-tabs > li > a:hover, .nav-tabs > li > a:focus, .nav-tabs > li > a:active{
    background-color: white;
    color: $fx-cool-blue;
    border-left-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
  }

  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    color: $fx-cool-blue;
    border-left-color: $fenix-hr;
    border-top-color: $fenix-hr;
    border-right-color: $fenix-hr;
  }


  .nav-tabs{
    border-bottom: transparent;
    li {
      a{
        cursor: pointer;
        color: $fenix-text;
      }
    }
  }

}

.fx-widget:before{
  content: "";
  height: 1px;
  background-color: $fenix-hr;
  width: 100%;
  position: absolute;
  top: 45px;
  left: 0px;
}

.fx-widget-chart-container{
  position: relative;
  width: 500px;
  height: 350px;
}

.fx-widget .nav > li > a {padding:3px 3px 7px 3px;}

.fx-icon{
  width: 35px;
  height: 35px;
  display: inline-block;
}
.fx-handle{
  cursor: move;
  position: absolute;
  top: 0;
  background-color: white;
  height: 35px;
  width: 40px;
  @include fx-border-radius($fx-border-radius);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid $fenix-hr;

  &:before{
    content:'';
    position: absolute;
    @include fx-small-icons(-15px, 0);
    top:3px;
    left:12px;
  }

}

.widget-grid-container{
  padding: 8px 10px;
}

.fx-analysis-item{
  padding: 22px 10px 10px 10px;
}

.tab-content{
  padding-top: 10px;
}

.fx-widget-icons{
  font-size: 26px;
}