<style>
    .bar {
        height: 18px;
        background: green;
    }

</style>

<div id="progress">
    <div class="bar" style="width: 0%;"></div>
</div>

<div id="fx-uploader-extended-info"></div>
<div id="fx-uploader"></div>


<!-- FENIX uploader client - container -->
<div class="fx-uploader-container">

    <div class="fx-uploader-header">
        <span id="fx-uploader-input-opener" class="fx-widget-icons icojam_pill_8"></span>
        <input id="fx-uploader-input" type="file" name="files[]"  accept=".csv" >
    </div>

</div>

<ul id="fx-uploader-list" class="list-unstyled"></ul>








